.notesContainer {
    background-color: #E6ECF7; 
    overflow-y: auto;
    overflow-x: hidden;
    height: 945px;
}

.createNote {
    background-color: #EDF2F4;
    height: 150px;
    border-bottom: 1px solid #B8C5CC;
}
.savedNote {
    background-color: #EDF2F4;
    height: 150px;
    border-bottom: 1px solid #B8C5CC;
}
.savedNoteTimestamp {
    color: #9DA0A2;
    font-size: 18px;
    font-weight: bold;
}
.savedNoteHeader {
    color: #9DA0A2;
    font-size: 20px;
    font-weight: bold;
}
.savedNoteTextContainer {
    word-wrap: break-word;
    width: 100%;
}
.savedNotePreviewText {
    color: #9DA0A2;
    font-size: 18px;
    word-wrap: break-word;
}

@media only screen and (max-width: 991px) {
    .notesContainer {
        height: 350px;
    }
  }