.logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebarOptionsHeader {
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    color: #B8C5CC;
}
.sidebarOptions {
    font-size: 18px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}